USE [master]
GO
/****** Object:  Database [ResturantMDB]    Script Date: 11/8/2025 10:03:02 AM ******/
CREATE DATABASE [ResturantMDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ResturantMDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ResturantMDB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ResturantMDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ResturantMDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ResturantMDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ResturantMDB]
GO
/****** Object:  Table [dbo].[AdditionalServicesTb]    Script Date: 11/8/2025 10:03:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdditionalServicesTb](
	[LineID] [smallint] IDENTITY(1,1) NOT NULL,
	[DeliveryCost] [decimal](10, 2) NOT NULL,
	[Service] [decimal](10, 2) NOT NULL,
	[DisCountAsPercent] [decimal](10, 2) NOT NULL,
	[DisCountAsNumber] [decimal](10, 2) NOT NULL,
	[Tax] [decimal](10, 2) NOT NULL,
	[IsTaxIncluded] [bit] NOT NULL,
	[IsDisCountAsPercent] [bit] NOT NULL,
 CONSTRAINT [PK_AdditionalServicesTb] PRIMARY KEY CLUSTERED 
(
	[LineID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DishCategoriesTb]    Script Date: 11/8/2025 10:03:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DishCategoriesTb](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DishCategoriesTb] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DishesTb]    Script Date: 11/8/2025 10:03:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DishesTb](
	[DisheID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[ImageLink] [nvarchar](500) NULL,
	[Description] [nvarchar](500) NULL,
	[IsAvailable] [bit] NOT NULL,
	[CategoryID] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_DishesTb_1] PRIMARY KEY CLUSTERED 
(
	[DisheID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvoicesTb]    Script Date: 11/8/2025 10:03:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoicesTb](
	[InvoiceID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[InvoiceDate] [datetime2](0) NOT NULL,
	[ToTal] [decimal](10, 2) NOT NULL,
	[DeliveryCost] [decimal](10, 2) NOT NULL,
	[Tax] [decimal](10, 2) NOT NULL,
	[Service] [decimal](10, 2) NOT NULL,
	[DisCount] [decimal](10, 2) NOT NULL,
	[NetValue] [decimal](10, 2) NOT NULL,
	[InvoiceNumber] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Invoices] PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoginRecordsTb]    Script Date: 11/8/2025 10:03:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoginRecordsTb](
	[LoginID] [int] IDENTITY(1,1) NOT NULL,
	[LoginDateTime] [datetime2](0) NOT NULL,
	[LogoutDatTime] [datetime2](0) NULL,
	[SessionDuration] [int] NULL,
	[UserID] [int] NOT NULL,
 CONSTRAINT [PK_LoginRecords] PRIMARY KEY CLUSTERED 
(
	[LoginID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrdersDetailsTb]    Script Date: 11/8/2025 10:03:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrdersDetailsTb](
	[OrderDetailID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[DishID] [int] NOT NULL,
	[DishPrice] [decimal](10, 2) NOT NULL,
	[Units] [smallint] NOT NULL,
	[Total] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[OrderDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrdersTb]    Script Date: 11/8/2025 10:03:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrdersTb](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[EatIn] [bit] NOT NULL,
	[TableNumber] [int] NULL,
	[UserID] [int] NOT NULL,
	[OrderDate] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_OrdersTb] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PeopleTb]    Script Date: 11/8/2025 10:03:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PeopleTb](
	[PersonID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](20) NOT NULL,
	[LastName] [nvarchar](25) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](200) NOT NULL,
	[JobTitle] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_PeopleTb] PRIMARY KEY CLUSTERED 
(
	[PersonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ResturantInfoTb]    Script Date: 11/8/2025 10:03:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResturantInfoTb](
	[LineID] [int] IDENTITY(1,1) NOT NULL,
	[Resturantname] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](100) NOT NULL,
	[LogoPath] [nvarchar](500) NULL,
	[Slogan] [nvarchar](250) NULL,
 CONSTRAINT [PK_ResturantInfoTb] PRIMARY KEY CLUSTERED 
(
	[LineID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolesTb]    Script Date: 11/8/2025 10:03:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolesTb](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_RolesTb] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsersTb]    Script Date: 11/8/2025 10:03:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersTb](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[PassWord] [nvarchar](50) NOT NULL,
	[PersonID] [int] NOT NULL,
	[RoleID] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_UsersTb] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DishesTb]  WITH CHECK ADD  CONSTRAINT [FK_DishesTb_DishCategoriesTb] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[DishCategoriesTb] ([CategoryID])
GO
ALTER TABLE [dbo].[DishesTb] CHECK CONSTRAINT [FK_DishesTb_DishCategoriesTb]
GO
ALTER TABLE [dbo].[InvoicesTb]  WITH CHECK ADD  CONSTRAINT [FK_Invoices_OrdersTb] FOREIGN KEY([OrderID])
REFERENCES [dbo].[OrdersTb] ([OrderID])
GO
ALTER TABLE [dbo].[InvoicesTb] CHECK CONSTRAINT [FK_Invoices_OrdersTb]
GO
ALTER TABLE [dbo].[LoginRecordsTb]  WITH CHECK ADD  CONSTRAINT [FK_LoginRecords_UsersTb] FOREIGN KEY([UserID])
REFERENCES [dbo].[UsersTb] ([UserID])
GO
ALTER TABLE [dbo].[LoginRecordsTb] CHECK CONSTRAINT [FK_LoginRecords_UsersTb]
GO
ALTER TABLE [dbo].[OrdersDetailsTb]  WITH CHECK ADD  CONSTRAINT [FK_OrdersDetailsTb_DishesTb] FOREIGN KEY([DishID])
REFERENCES [dbo].[DishesTb] ([DisheID])
GO
ALTER TABLE [dbo].[OrdersDetailsTb] CHECK CONSTRAINT [FK_OrdersDetailsTb_DishesTb]
GO
ALTER TABLE [dbo].[OrdersDetailsTb]  WITH CHECK ADD  CONSTRAINT [FK_OrdersDetailsTb_OrdersTb] FOREIGN KEY([OrderID])
REFERENCES [dbo].[OrdersTb] ([OrderID])
GO
ALTER TABLE [dbo].[OrdersDetailsTb] CHECK CONSTRAINT [FK_OrdersDetailsTb_OrdersTb]
GO
ALTER TABLE [dbo].[OrdersTb]  WITH CHECK ADD  CONSTRAINT [FK_OrdersTb_UsersTb] FOREIGN KEY([UserID])
REFERENCES [dbo].[UsersTb] ([UserID])
GO
ALTER TABLE [dbo].[OrdersTb] CHECK CONSTRAINT [FK_OrdersTb_UsersTb]
GO
ALTER TABLE [dbo].[UsersTb]  WITH CHECK ADD  CONSTRAINT [FK_UsersTb_PeopleTb] FOREIGN KEY([PersonID])
REFERENCES [dbo].[PeopleTb] ([PersonID])
GO
ALTER TABLE [dbo].[UsersTb] CHECK CONSTRAINT [FK_UsersTb_PeopleTb]
GO
ALTER TABLE [dbo].[UsersTb]  WITH CHECK ADD  CONSTRAINT [FK_UsersTb_RolesTb] FOREIGN KEY([RoleID])
REFERENCES [dbo].[RolesTb] ([RoleID])
GO
ALTER TABLE [dbo].[UsersTb] CHECK CONSTRAINT [FK_UsersTb_RolesTb]
GO
USE [master]
GO
